.markdown-body {
    font-size: 1em;
    line-height: 1.25;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1.25;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body hr,
.markdown-body table,
.markdown-body pre,
.markdown-body details,
.markdown-body summary {
    margin: 1em 0;
}

.markdown-body ul,
.markdown-body ol,
.markdown-body dl {
    padding-left: 1.15em;
}

.markdown-body li,
.markdown-body li > ul,
.markdown-body li > ol,
.markdown-body li > dl {
    margin: .25em 0;
}

.markdown-body a {
    color: rgb(var(--v-theme-primary));
}

.markdown-body blockquote {
    padding-left: 1em;
    border-left: 4px solid rgba(0,0,0,.12);
}

.markdown-body pre {
    background-color: rgba(0,0,0,.03);
    border-radius: 4px;
    overflow-x: auto;
    padding: .75em 1em;
}

.markdown-body :not(pre) > code {
    padding: .2em .4em;
    background-color: rgba(0,0,0,.03);
    border-radius: 4px;
}

.markdown-body hr {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.markdown-body kbd {
    border-radius: 4px;
    padding: .1em .4em;
    box-shadow: 1px 1px 1px #777;
    margin: .2em;
    background: #eee;
    color: #000;
    cursor: pointer;
    font-size: small;
}

.markdown-body kbd:active {
    box-shadow: 1px 1px 0 #ddd inset;
}

.markdown-body img {
    max-width: 100%;
}

.markdown-body table {
    border-spacing: 0;
    max-width: 100%;
}

.markdown-body table th,
.markdown-body table td {
    padding: .5em;
}
.markdown-body table th,
.markdown-body table tr:not(:last-child) td {
    border-bottom: thin solid rgba(0,0,0,.12);
}
.markdown-body table th {
    font-weight: bold;
    color: rgba(0,0,0,.6);
}

code, kbd, pre, samp,
code[class*="language-"], pre[class*="language-"] {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
    .markdown-body pre,
    .markdown-body :not(pre) > code {
        background-color: rgba(255,255,255,.03);
    }

    .markdown-body kbd {
        background-color: #333;
        color: #fff;
    }

    .markdown-body img.math {
        filter: invert();
    }

    .markdown-body blockquote {
        border-left: 4px solid rgba(255,255,255,.12);
    }

    code[class*="language-"], pre[class*="language-"] {
        color: #fff;
        text-shadow: 0 1px #000;
    }
}

.v-breadcrumbs-item--disabled {
    opacity: unset;
}
